 $black: #000;
 $white: #fff;
 $red: #e42526;
 $grey: #898989;
 $blue: #003e73;
 $bright-blue: #3cf3fa;
 
 $primary-color: $bright-blue;

$base-bg: $white;
$base-color: $grey;
$font-size-base: 1em;
$line-height-base: 1.5;


$headings-font-family: Helvetica,  Arial,  sans-serif;
$headings-color: $black;

$base-link-color: $grey;
$base-link-color-hover: $red;
$placeholder-color: $black;

$btn-bg: $red;
$btn-color: $white;

